<root>
	<!--
		The epri server. This is where the createMaintOrder and
		getMaintOrder soap services live
	-->
	<urlBase>http://54.174.134.152:8080/epriConnect/</urlBase>

	<!--
		When all else fails, this is the url of a picture of
		a dog. It is uploaded as the 'image file' when you
		do a create maint order, if all else fails. for testing
	-->
	<defaultImageFile>http://54.174.134.152:8080/files/dog.jpg</defaultImageFile>

	<!--
		for getMaint order, if this is not commented out it is pre-placed
		in the MRID entry box, to save time for when you're demoing
		and you don't want to type in a 40 character search string
	-->
	<defaultMrid>42836fc6-a42d-41ce-bdca-f7a279e20ac7</defaultMrid> 

	<!--
		If implemented on the epri server, this is where images
		uploaded from create order are saved and can be accessed
		live from the web app
	-->
	<imageServer>http://54.174.134.152:8080/static</imageServer>

	<!--
		A simple python web server should be running on the epri
		server. If it is running, this is the address the create
		maint order will post images to, saving. They can be accessed
		via imageServer var above. turn off/on in status attribute
	-->
	<imageUploadServer status="off">http://54.174.134.152:8004</imageUploadServer>
</root>
