<% if ! session[:openwms_hideWorkHelpOn] then %>
<div class="col-md-4">
  <h2>Work Orders</h2>
  <p>Work smarter with video from the field, real time communications, and digital workflows.</p>
  <h3>Legend</h3>
  <p><i class="mdi-maps-place" style="padding-right: 0.5em;"></i> Open Google Maps in a new browser window.</p>
  <p><i class="mdi-content-add-circle-outline" style="padding-right: 0.5em;"></i> Equipment Detail Available.</p>	
  <p><i class="mdi-navigation-check" style="padding-right: 0.5em;"></i> Data verified good, all information complete.</p>
</div>
<% end %>

