<% content_for :title, "InterOp Terms of Use" %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h3>EPRI OpenWMS InterOp Terms of Use</h3>
    <p>You are using preproduction software. This site uses browser cookies.</p>
    <p><a id="terms" class="btn btn-default btn-passive btn-lg" href="#terms" role="button">Read complete terms and conditions below &raquo;</a></p>
    <p>
      <%= link_to "I Agree!", {:controller => 'home', :action => 'acceptTerms'}, {:class => 'btn btn-success btn-lg', :role => 'button'} %>
    </p>
    
<!-- class="btn btn-success btn-lg" href="#" role="button">I Agree!</a></p> -->
  </div>
</div>

<div class="container" style="font-size: 125%;">

  <div class="row col-md-12"><h2>EPRI InterOP Version 0.1</h2></div>
  <div class="row col-md-12"><p>
      Electric Power Research Institute (EPRI)<br/>
      3420 Hillview Ave. <br/>
      Palo Alto, CA 94304<br/>
      Copyright © 2001-2015 Electric Power Research Institute, Inc. All rights reserved.<br/>
    </p>
  </div>

  <!-- Detail Summart Text -->
  <div class="row">
    <div class="col-md-8">
      <p>As a user of this EPRI preproduction software, you accept and acknowledge that:</p>      
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <h3>I agree that:</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <p>This software is a preproduction version which may have problems that could potentially harm your system.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <h3>This software is preproduction.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <p>To satisfy the terms and conditions of the Master License Agreement or Preproduction License Agreement between EPRI and your company, you understand what to do with this preproduction product after the preproduction review period has expired.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <h3>I will learn how to use it by a certain date.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">     
      <p>Reproduction or distribution of this preproduction software is in violation of the terms and conditions of the Master License Agreement or Preproduction License Agreement currently in place between EPRI and your company.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <h3>I will not share this URL, user login, or code base.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">     
      <p>Your company's funding will determine if you have the rights to the final production release of this product.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <h3>I may not be offered a production version.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">     
      <p>EPRI will evaluate all tester suggestions and recommendations, but does not guarantee they will be incorporated into the final production product.</p>
      <p>As a preproduction tester, you agree to provide feedback as a condition of obtaining the preproduction software.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <h3>EPRI values my suggestions.</h3>
    </div>
  </div>

  <div class="row">


  </div>
</ol>

</div>
